<div class="row">
	<div class="col-sm-12">
		<div class="checkout-wrap">
		  <ul class="checkout-bar">

		    <li class="visited first">
		      
		      <%= link_to "Login", root_path %>
		    </li>
		   
		    <li class="visited"><%= link_to "Pre Enrolment", pre_enrolment_path %></li>
		    
		    <li class="visited"><%= link_to "Pre Training Review", edit_pre_training_review_path(current_user.pre_training_reviews.first) %></li>
		    
		    <li class="visited "><%= link_to "Enrolment", "#"  %></li>
		    
		    <li class="visited"><%= link_to "LLN", "#" %></li>
		    
		    <li class="visited" ><%= link_to "Ids",  "#" %></li>
		    
		    <li class="visited"><%= link_to "Course Review", "#"  %></li>

		    <li class="active last"><%= link_to "Review", "#" %></li>     
		  </ul>
		</div>
	</div>
</div>

<h1>Course Review</h1>

<% enrolment = current_user.try(:enrolments).try(:first) %> 
<% if enrolment.course %>
	<% course = enrolment.course %>
	<h2>Course Name : <%= course.try(:name) %>  </h2>
	<ul>
		<li>Code : <%= course.try(:code) %></li>
		<li>Course Review Document Link :
		 <%= link_to "Course Review Document", course.try(:course_review_document), target: "_blank" %></li>
		<% unless course.try(:fee).blank? %>
			<li>Fee : <%= course.try(:fee) %></li>
		<% end %>
		<% unless course.try(:fee_for_service).blank? %>
	  	<li>Fee for Service : <%= course.try(:fee_for_service) %></li>
	  <% end %>
	  <% unless course.try(:fevet_feee).blank? %>
	  	<li>Vet Fee : <%= course.try(:vet_fee) %></li>
	  <% end %>

	</ul>

<% end %>
<p>Please tick to confirm:<br>
<ul>
	<li>I  have read the course entry requirements and have the required evidence of those to provide</li>
	<li>I have read the fees and charges T&C</li>
	<li>I have read the Refund Policy</li>
	<li>I understand the learning requirements needed for me to undertake and successful complete the course and the assessments</li>
	<li>I have received and had the grievance, complaints and appeals process explained</li>
	<li>I have received a copy of the ‘Information For Prospective Learners’</li>
	<li>I understand and have provided my eligibility evidence for this enrolment</li>
	<li>I have been informed of the possible job outcomes available at the conclusion of this qualification</li>
	<li>I understand the qualification pathways available to me.</li>
	<li>For VET FEE-Help Students Only. I have read, completed and fully understand all the information contained in the request for VET FEE-Help Assistance Form and VET FEE-Help Information Booklet 2015 provided to me by The Malka Group Pty Ltd.</li>
</ul>
</p>
<%= check_box_tag("I Agree") %> I agree to all terms and conditions.
<div class="row">
	<div class="col-sm-12">
		<div class="control-actions">
			<%= link_to 'Back', enrolment_student_ids_path(current_user.enrolments.first), class: 'btn btn-primary pull-left' %> 
		 	<%= link_to 'Next', enrolment_review_path(current_user.enrolments.first), class: 'btn btn-primary pull-right' %>
		</div>
	</div>
</div>
