<div class="row">
	<div class="col-sm-12">
		<div class="checkout-wrap">
		  <ul class="checkout-bar">

		    <li class="visited first">

		      <%= link_to "Login", root_path %>
		    </li>

		    <li class="visited"><%= link_to "Pre Enrolment", "#" %></li>

		    <li class="visited"><%= link_to "Pre Training Review", "#" %></li>

		    <li class="visited "><%= link_to "Enrolment", "#"  %></li>

		    <li class="visited"><%= link_to "LLN", "#" %></li>

		    <li class="active" ><%= link_to "Ids",  "#"%></li>

		    <li class="next"><%= link_to "Course Review", "#"  %></li>

		    <li class=><%= link_to "Review", "#" %></li>
		  </ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h1>IDs</h1>
		<%= form_for StudentId.new do |f| %>
		  <div class="field">
		    <%= f.label :title %><br>
		    <%= f.text_field :title %>
		  </div>
		  <div class="field">
		    <%= f.label :image %><br>
		    <%= f.file_field :image %>
		  </div>
		  <%= f.submit %>
		<% end %>
		<p>Under Counstruction</p>
		<div class="vspace vspace-100"></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="control-actions">
			<%= link_to 'Back', lln_test_path, class: 'btn btn-primary pull-left' %>
		 	<%= link_to 'Next', course_review_path, class: 'btn btn-primary pull-right' %>
		</div>
	</div>
</div>