<div class="row">
	<div class="col-sm-12">
		<div class="checkout-wrap">
		  <ul class="checkout-bar">

		    <li class="visited first">
		      
		      <%= link_to "Login", root_path %>
		    </li>
		   
		    <li class="visited"><%= link_to "Pre Enrolment", pre_enrolment_path %></li>
		    
		    <li class="visited">
		    	<%= link_to "Pre Training Review", edit_pre_training_review_path(current_user.pre_training_reviews.first) %>
		    </li>
		    
		    <li class="visited "><%= link_to "Enrolment", "#"  %></li>
		    
		    <li class="visited"><%= link_to "LLN", "#" %></li>
		    
		    <li class="visited" ><%= link_to "Ids",  "#" %></li>
		    
		    <li class="visited"><%= link_to "Course Review", "#"  %></li>

		    <li class="active last"><%= link_to "Review", "#" %></li>     
		  </ul>
		</div>
	</div>
</div>

<h1>Review & Submit</h1>
<p>Please review your Online Enrolment below. If they are all correct and completed, click Submit. A confirmation email will be sent to your email address within 24 hours. </p>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Pre Training Review </a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Enrolment</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Student Ids </a></li>
   
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	<%= render 'static_pages/application_information/pre_training_review_info', :pre_training_review => current_user.pre_training_reviews.first %>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    	<%= render 'static_pages/application_information/enrolment', :enrolment => current_user.enrolments.first %>

    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
    	<%= render 'static_pages/application_information/student_ids', :enrolment => current_user.enrolments.first %>
    </div>
    
  </div>

</div>


<div class="vspace vspace-10"></div>

<div class="row">
	<div class="col-sm-12 vspace vspace-10">
		<div class="control-actions">
			<%= link_to 'Back', enrolment_course_review_path(current_user.enrolments.first), class: 'btn btn-primary pull-left' %> 
			<%= link_to "Submit", {:controller => "enrolments", :action => "send_enrolment_mail", :id => current_user.try(:enrolments).try(:first).try(:id)} ,{:class => "btn btn-primary pull-right"}%>
		</div>
	</div>
</div>