<div class="row">
	<div class="col-sm-12">
		<p>
			What is the address location and postcode of the suburb, locality or town in which you usually live? 
			<span class="glyphicon glyphicon-question-sign" data-toggle="popover" title="Address Hint" data-content="Please provide the physical address (street number and name not post office box) where you usually reside rather than any temporary address at which you reside for training, work or other purposes before returning to your home. If you are from a rural area use the address from your state or territory’s ‘rural property addressing’ or ‘numbering’ system as your residential street address."></span>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
  	<%= f.text_field :property_name %>
	</div>
	<div class="col-sm-4">
  	<%= f.text_field :street1 %>
	</div>
	<div class="col-sm-4">
  	<%= f.text_field :street2 %>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
  	<%= f.text_field :suburb %>
	</div>
	<div class="col-sm-4">
  	<%= f.text_field :postcode %>
	</div>
	<div class="col-sm-4">
  	<%= f.text_field :state %>
	</div>
</div>
  
  
  
  
  
  
  <%= f.hidden_field :country, :value => "Australia" %>
  