<h2>Postal Address</h2>

  <%= f.text_field :property_name %>

  <%= f.text_field :street1 %>

  <%= f.text_field :street2 %>

  <%= f.text_field :suburb %>

  <%= f.text_field :postcode %>

  <%= f.text_field :state %>

  <%= f.text_field :country %>