<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @enrolment.course %>
</p>

<p>
  <strong>Delivery mode:</strong>
  <%= @enrolment.delivery_mode %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrolment.student %>
</p>

<p>
  <strong>Address:</strong>
  <%= @enrolment.address %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @enrolment.employer %>
</p>

<p>
  <strong>Emergency contact:</strong>
  <%= @enrolment.emergency_contact %>
</p>

<p>
  <strong>Language culture diversity:</strong>
  <%= @enrolment.language_culture_diversity %>
</p>

<p>
  <strong>School:</strong>
  <%= @enrolment.school %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @enrolment.employment %>
</p>

<p>
  <strong>Vic student:</strong>
  <%= @enrolment.vic_student %>
</p>

<p>
  <strong>Completed qualification:</strong>
  <%= @enrolment.completed_qualification %>
</p>

<p>
  <strong>Qualication received location:</strong>
  <%= @enrolment.qualification_received_location %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @enrolment.vet %>
</p>

<p>
  <strong>Toc:</strong>
  <%= @enrolment.toc %>
</p>

<%= link_to 'Edit', edit_enrolment_path(@enrolment) %> |
<%= link_to 'Back', enrolments_path %>
