<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :middlename %><br>
    <%= f.text_field :middlename %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :home_phone %><br>
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :city_of_birth %><br>
    <%= f.text_field :city_of_birth %>
  </div>
  <div class="field">
    <%= f.label :usi %><br>
    <%= f.text_field :usi %>
  </div>
  <div class="field">
    <%= f.label :disability %><br>
    <%= f.text_field :disability %>
  </div>
  <div class="field">
    <%= f.label :aus_citizen %><br>
    <%= f.text_field :aus_citizen %>
  </div>
  <div class="field">
    <%= f.label :study_reason %><br>
    <%= f.text_field :study_reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
