<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Surname</th>
      <th>Firstname</th>
      <th>Middlename</th>
      <th>Dob</th>
      <th>Home phone</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>City of birth</th>
      <th>Usi</th>
      <th>Disabiltiy</th>
      <th>Aus citizen</th>
      <th>Study reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.title %></td>
        <td><%= student.surname %></td>
        <td><%= student.firstname %></td>
        <td><%= student.middlename %></td>
        <td><%= student.dob %></td>
        <td><%= student.home_phone %></td>
        <td><%= student.mobile %></td>
        <td><%= student.email %></td>
        <td><%= student.city_of_birth %></td>
        <td><%= student.usi %></td>
        <td><%= student.disabiltiy %></td>
        <td><%= student.aus_citizen %></td>
        <td><%= student.study_reason %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
