<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Course category:</strong>
  <%= @course.course_category.title %>
</p>

<p>
  <strong>Fee for service:</strong>
  <%= @course.fee_for_service %>
</p>

<p>
  <strong>Vet fee:</strong>
  <%= @course.vet_fee %>
</p>

<p>
  <strong>Gov funded:</strong>
  <%= @course.gov_funded %>
</p>

<p>
  <strong>Concession gov funded:</strong>
  <%= @course.concession_gov_funded %>
</p>

<p>
  <strong>Material cost:</strong>
  <%= @course.material_cost %>
</p>

<p>
  <strong>Transfer fee:</strong>
  <%= @course.transfer_fee %>
</p>

<p>
  <strong>Re issue certificate:</strong>
  <%= @course.re_issue_certificate %>
</p>

<p>
  <strong>Delivery mode:</strong>
  <%= @course.delivery_mode %>
</p>

<p>
  <strong>Location of delivery:</strong>
  <%= @course.location_of_delivery %>
</p>

<p>
  <strong>Study duration:</strong>
  <%= @course.study_duration %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
