<h1>Users</h1>
	<table class="table" id="users">
		<thead>
			<tr>
				<td>Username</td>
				<td>Mobile</td>
				<td>Roles</td>
				<td>Enrolments</td>
				<td>Created At</td>
				<td>Last Login</td>
				<td>Controls</td>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |u| %>
				<tr>
					<td><%= u.email %></td>
					<td><%= u.mobile %></td>
					<td><%= u.role %></td>
					<td><%= link_to "Enrolments", admin_user_enrolments_path(u) %>
					<td><%= u.created_at %></td>
					<td><%= u.last_sign_in_at %></td>
					<td><%= link_to "Edit", edit_admin_user_path(u) %>
					    <%= link_to 'Destroy', [:admin, u], method: :delete, data: { confirm: 'Are you sure?' } %>
					  </td>
				</tr>
			<% end %>
		</tbody>
	</table>