<div class="ques">3. Workplace Employer Details (if applicable)</div >
  
<div class="row">
	<div class="col-sm-12">
  	<%= f.text_field :trading_name %>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
 	 <%= f.text_field :contact_name %>
	</div>
	<div class="col-sm-6">
  	<%= f.text_field :supervisor_name %>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
  	<%= f.text_field :training_address %>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
  	<%= f.text_field :phone %>
	</div>
	<div class="col-sm-6">
 	 <%= f.text_field :fax %>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
 	 <%= f.text_field :email %>
	</div>
	<div class="col-sm-6">
  	<%= f.text_field :abn %>
	</div>
</div>
  
  
  
  
  
  
  
  