<div class="row">
	<div class="col-sm-12">
		<div class="checkout-wrap">
		  <ul class="checkout-bar">

		    <li class="visited first">

		      <%= link_to "Login", root_path %>
		    </li>

		    <li class="visited"><%= link_to "Pre Enrolment", "#" %></li>

		    <li class="visited"><%= link_to "Pre Training Review", "#" %></li>

		    <li class="active "><%= link_to "Enrolment", "#"  %></li>

		    <li class="next"><%= link_to "LLN", "#" %></li>

		    <li class= ><%= link_to "Ids",  "#"%></li>

		    <li class=><%= link_to "Course Review", "#"  %></li>

		    <li class=><%= link_to "Review", "#" %></li>
		  </ul>
		</div>
	</div>
</div>
<h1>Edit Enrolment</h1>

<%= render 'form' %>

<% link_to 'Show', @enrolment %>
<% link_to 'Back', enrolments_path %>

<%= link_to 'Back | Pre Pre Training Review',  edit_pre_training_review_path(current_user.try(:pre_training_reviews).first), class: "btn btn-primary pull-left" %>
<% if (current_user.enrolments.count != 0) %>
 	<%= link_to 'Next', enrolment_lln_test_path(@enrolment), class: 'btn btn-primary pull-right' %>
<% end %>
