<div class="row">
	<div class="col-sm-12">
		<div class="checkout-wrap">
		  <ul class="checkout-bar">

		    <li class="visited first">
		      
		      <%= link_to "Login", root_path %>
		    </li>
		   
		    <li class="active"><%= link_to "Pre Enrolment", pre_enrolment_path %></li>
		    
		    <li class="next"><%= link_to "Pre Training Review", "#" %></li>
		    
		    <li class=""><%= link_to "Enrolment", "#"  %></li>
		    
		    <li class=><%= link_to "LLN", '#' %></li>
		    
		    <li class= ><%= link_to "Ids",  '#' %></li>
		    
		    <li class=><%= link_to "Course Review", '#'  %></li>

		    <li class=><%= link_to "Review", '#' %></li>     
		  </ul>
		</div>
	</div>
</div>
<h1>Pre Training Review</h1>

<%= render 'form' %>

<%= link_to 'Back | Pre Enrolment', pre_enrolment_path, class: "btn btn-primary pull-left" %>

