<div class="row">
	<div class="col-sm-12">
		<div class="checkout-wrap">
		  <ul class="checkout-bar">

		    <li class="visited first">
		      
		      <%= link_to "Login", root_path %>
		    </li>
		   
		    <li class="active"><%= link_to "Pre Enrolment", pre_enrolment_path %></li>
		    
		    <li class="next"><%= link_to "Pre Training Review", edit_pre_training_review_path(current_user.pre_training_reviews.first) %></li>
		    
		    <li class=""><%= link_to "Enrolment", pre_enrolment_path  %></li>
		    
		    <li class=><%= link_to "LLN", lln_test_path %></li>
		    
		    <li class= ><%= link_to "Ids",  ids_path%></li>
		    
		    <li class=><%= link_to "Course Review", course_review_path  %></li>

		    <li class=><%= link_to "Review", review_path %></li>     
		  </ul>
		</div>
	</div>
</div>
<h1>Pre Training Review</h1>

<%= render 'form' %>

<%= link_to 'Back | Pre Enrolment', pre_enrolment_path, class: "btn btn-primary pull-left" %>

