<p id="notice"><%= notice %></p>

<p>
  <strong>Rpl:</strong>
  <%= @pre_training_review.rpl %>
</p>

<p>
  <strong>Credit transfer:</strong>
  <%= @pre_training_review.credit_transfer %>
</p>

<p>
  <strong>Area of work:</strong>
  <%= @pre_training_review.area_of_work %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @pre_training_review.employment %>
</p>

<p>
  <strong>Pathway:</strong>
  <%= @pre_training_review.pathway %>
</p>

<p>
  <strong>Preferred learning style:</strong>
  <%= @pre_training_review.preferred_learning_style %>
</p>

<p>
  <strong>Delivery mode:</strong>
  <%= @pre_training_review.delivery_mode %>
</p>

<p>
  <strong>Speical condition:</strong>
  <%= @pre_training_review.speical_condition %>
</p>

<p>
  <strong>Toc:</strong>
  <%= @pre_training_review.toc %>
</p>

<p>
  <strong>User:</strong>
  <%= @pre_training_review.user %>
</p>

<%= link_to 'Edit', edit_pre_training_review_path(@pre_training_review) %> |
<%= link_to 'Back', pre_training_reviews_path %>
