<p id="notice"><%= notice %></p>
<div id="field-details">

  <h1>Pre Training Review Details</h1>

  <%= form_field("Rpl", @pre_training_review.try(:rpl)) %>

  <%= form_field("Credit transfer", @pre_training_review.try(:credit_transfer)) %>

  <%= form_field("Area of work", @pre_training_review.try(:area_of_work)) %>

  <%= form_field("Employment", @pre_training_review.try(:employment)) %>

  <%= form_field("Pathway", @pre_training_review.try(:pathway)) %>

  <%= form_field("Preferred learning style", @pre_training_review.try(:preferred_learning_style)) %>

  <%= form_field("Preferred Delivery mode", @pre_training_review.try(:delivery_mode)) %>

  <%= form_field("Speical condition", @pre_training_review.try(:speical_condition)) %>

  <%= form_field("Term of condition Signed", @pre_training_review.try(:toc) ? "Yes" : "No") %>

</div>

<%= link_to 'Edit', edit_pre_training_review_path(@pre_training_review) %> |
<%= link_to 'Back', pre_training_reviews_path %>
<% if current_user.enrolments.count == 0 %>
  <%= link_to "Enrolment", new_enrolment_path, class: "btn btn-primary pull-right" %>
<% else current_user.enrolments.first %>
  <%= link_to "Edit Enrolment", edit_enrolment_path(current_user.enrolments.first), class: "btn btn-primary pull-right" %>
<% end %>
<%= link_to 'Back | Pre Enrolment', pre_enrolment_path, class: "btn btn-primary pull-left" %>
