<p id="notice"><%= notice %></p>
<div id="field-details">
<%= form_field("Name:",@course.name )%>


<%= form_field("Code:",@course.code )%>


<%= form_field("Course category:",@course.try(:course_category).try(:title) )%>


<%= form_field("Course Review Document Link ",  @course.course_review_document)%>

<%= form_field("Course Link ",  @course.web_link)%>


<%= form_field("Fee for service:", @course.fee_for_service )%>


<%= form_field("Vet fee:",@course.vet_fee )%>


<%= form_field("Gov funded:",@course.gov_funded )%>


<%= form_field("Concession gov funded:",@course.concession_gov_funded )%>


<%= form_field("Material cost:",@course.material_cost )%>


<%= form_field("Transfer fee:",@course.transfer_fee )%>


<%= form_field("Re issue certificate:",@course.re_issue_certificate )%>


<%= form_field("Delivery mode:",@course.delivery_mode )%>


<%= form_field("Location of delivery:",@course.location_of_delivery )%>


<%= form_field("Study duration:",@course.study_duration )%>

</div>
<%= link_to 'Edit', edit_admin_course_path(@course) %> |
<%= link_to 'Back', admin_courses_path %>
