<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @image.image_url %>
  <%= @image.image %>
  <%= image_tag @image.image_url  %>
</p>

<p>
  <strong>Category:</strong>
  <%= @image.category %>
</p>

<p>
  <strong>Enrolment:</strong>
  <%= @image.enrolment_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
